<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FitnessTracker</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="h-100 ">
    <div class="row h-100 mx-0">
        <div id="sidebar" class="col-2 p-0 bg-primary">
            <div class="navbar-brand text-white" style="font-size:30px">FitnessTracker</div>

            <ul class="text-white">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Bodyweight" asp-action="Summary">Bodyweight Tracking</a></li>
                <li><a asp-controller="Goal" asp-action="Summary">Goal Tracking</a></li>
                <li><a asp-controller="Nutrition" asp-action="Summary">Nutrition Tracking</a></li>
                <li><a asp-controller="Workout" asp-action="Summary">Workout Plans</a></li>
            </ul>
        </div>

        <div class="col-10 p-0">
            <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                    <div class="container" style="margin-right:0!important;padding-left:0!important">
                        @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FitnessTracker</a>*@
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <partial name="_LoginPartial" />
                        </div>
                    </div>
                </nav>
            </header>
            @*<div class="container">*@
            <main role="main" class="p-0 ml-3 mr-2">
                @RenderBody()
            </main>
            @*</div>*@
            <script src="https://kit.fontawesome.com/a02247f0e6.js" crossorigin="anonymous"></script>
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>

            <partial name="_ValidationScriptsPartial" />
            @RenderSection("Scripts", required: false)
        </div>
    </div>
</body>
</html>
