
@{
    ViewData["Title"] = "Workout Plans";
}

<div>
    <h2 class="d-inline">Workout Plans</h2>
    <a asp-controller="Workout" asp-action="Create" class="font-weight-bold ml-1" style="vertical-align:text-bottom">+New Workout</a>

</div>