@model BodyweightRecord[]

@{
    ViewData["Title"] = "Edit Bodyweight Records";
}

@section Scripts{
    <script src="~/js/Bodyweight/editrecords.js"></script>

}


<div class="container w-50">
    <form asp-controller="Bodyweight" asp-action="EditRecords" method="post" onsubmit="return formPreSubmit();">
        <table id="FormTable" class="m-auto w-100">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Weight</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="FormTableBody">
                @for (int i = 0; i < Model.Length; i++)
                {
                    <tr>
                        <td><input type="date" class="form-control" name="Dates[@i]" value='@Model[i].Date.ToString("yyyy-MM-dd")' oninput="checkConflictingDates();" required /></td>
                        <td><input type="number" class="form-control" name="Weights[@i]" value='@Model[i].Weight.ToString("F2")' min="0" max="200" step="0.1" required/></td>
                        <td><a href="#" onclick="deleteInputRow(this);">Remove</a></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr id="inputRowTemplate" class="d-none">
                    <td>
                        <input class="form-control" type="date" oninput="checkConflictingDates();" required />
                    </td>
                    <td>
                        <input class="form-control" type="number" oninput="addNewInputRow(); $(this).removeAttr('oninput');" min="0" max="200" step="0.1" value="0" required />
                    </td>
                    <td><a class="d-none" href="#" onclick="deleteInputRow(this);">Remove</a></td>
                </tr>
            </tfoot>
        </table>

        <div class="float-right mt-2">
            <a class="btn btn-secondary" asp-action="Summary">Cancel</a>
            <input type="submit" class="btn btn-primary" value="Save Changes" onclick="formSubmit_Clicked();" />
        </div>

    </form>
</div>