@model BodyweightRecord[]

@section Scripts{
}

@{
    BodyweightRecord mostRecentWeight = Model.OrderByDescending(record => record.Date).First();
    IEnumerable<BodyweightRecord> currentWeekRecords = Model.Where(record => record.Date >= DateTime.Today.AddDays(-7)).OrderByDescending(record => record.Date);
    float currentWeekProgress = 0;
    if (currentWeekRecords.Count() > 0)
    {
        currentWeekProgress = currentWeekRecords.First().Weight - currentWeekRecords.Last().Weight;
    }
}

@{
    ViewData["Title"] = "Bodyweight";
}
<div>
    <a asp-controller="Bodyweight" asp-action="EditRecords" class="btn btn-primary">Edit Bodyweights</a>
    <a asp-controller="Bodyweight" asp-action="EditTarget" class="btn btn-primary">Edit Target</a>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h6 class="card-subtitle">Most Recent Bodyweight</h6>
            </div>
            <div class="card-body">
                <h4 class="card-title text-center">
                    @(mostRecentWeight.Weight)kg
                </h4>
                <h6 class="card-text text-center">
                    tesetstst
                </h6>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <div class="card-header">
                <h6 class="card-subtitle">This Week's Progress</h6>
            </div>
            <div class="card-body">
                <h4 class="card-title text-center">
                    @(currentWeekProgress >= 0 ? "+" : "-")@(currentWeekProgress)kg
                </h4>
            </div>
        </div>
    </div>

    <div class="col">

    </div>

    <div class="col">

    </div>

    <div class="col">

    </div>


</div>



<!-- Modal -->
<div class="modal fade" id="addBodyweightModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addBodyweightModalLabel">Add Bodyweight</h5>
                <button type="button" class="close" data-dismiss="modal">
                </button>
            </div>
            <form asp-controller="Bodyweight" asp-action="AddBodyweights" method="post">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group" id="dateFormGroup">
                                <label>Date</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group" id="weightFormGroup">
                                <label>Weight</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save Changes" />
                </div>
            </form>

            <input id="dateInputTemplate" class="form-control d-none" type="date" />
            <input id="weightInputTemplate" class="form-control d-none" type="number" />

        </div>
    </div>
</div>
