@{ 
    ViewData["Title"] = "Add Food";
}

<form>
    <div class="form-group">
        <label>Date</label>
        <input type="date" name="" />
    </div>

    <div class="form-group">
        <input type="text" name="FoodName" class="form-control" />
    </div>

    <hr />

    <table>
        <thead>
            <tr>
                <td>Food</td>
                <td>Calories</td>
                <td>Carbohydrates</td>
                <td>Protein</td>
                <td>Fat</td>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</form>